@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kelly+Slab&display=swap');

.caja-resultados {
    background-image: url("img/fondo.jpg");
    background-position: bottom;
    height: 90vh;
}

.titulo-fixture {
    color: black;
    text-align: center;
    margin: 5px;
    font-family: 'Faster One', cursive;
    font-size: 4rem;
    letter-spacing: 5px;
}

.subtitulo {
    color: white;
    text-align: center;
    font-family: 'Faster One', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
}

.caja-titulos {
    padding-top: 30px;
    /* padding-bottom: 30px; */
}

.texto-fecha {
    color: #ffd028;
    text-align: center;
    font-family: 'Russo One', sans-serif;;
    padding-top: 0%;
    width: 400px;
    margin: auto;
}


.versus {
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 2px;
    text-align: center;
}

.datosDelPartido {
    position: absolute;
    top: 1px; right: -100px;
    display: flex;
}

.horario {
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(90deg , rgb(1, 139, 135) 0%,  rgb(1,51,48,1) 100%) ;
    border-radius: 10px;
    width: 85px;
}

.canchaNum {
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(90deg , rgb(1, 139, 135) 0%,  rgb(1,51,48,1) 100%) ;
    border-radius: 10px;
    width: 25px;
    position: absolute;
    top: 1px; right: -80px;
}

.cancha{
    color: rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    text-align: right;
    position: absolute;
    top: 280px; right: 470px;
}

.hora {
    color: rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    text-align: right;
    position: absolute;
    top: 280px; right: 600px;
}

.content-resultado {
    letter-spacing: 5px;
    display: flex;
    width: 50%;
    text-align: center;
    margin: auto;
    align-items: center; 
    filter: opacity(0.8);
    background: linear-gradient(90deg , rgb(1, 139, 135) 0%,  rgb(1,51,48,1) 100%) ;
    margin-top: 38px;
    border-radius: 10px 100px / 120px;
}

.copasNombres {
    letter-spacing: 5px;
    display: flex;
    width: 20%;
    text-align: center;
    margin-left: 35rem;
    align-items: center; 
    filter: opacity(0.8);
    background: linear-gradient(90deg, rgb(1,51,48,1) 0%, rgb(1, 139, 135) 100%) ;
    margin-top: 50px;
    border-radius: 10px 100px / 120px;
    font-family: 'Russo One', sans-serif;
}

.nombre {
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    letter-spacing: 3.5px;
    font-size: 30px;
    width: 40%;
}

.resultado {
    color: rgb(228, 198, 68);
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
    margin: 0px;
    letter-spacing: 2px;
    width: 10%;
    text-align: center;

}

.separacion {
    color: rgb(228, 198, 68);
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 2px;
    text-align: center;
}